<div class="container p-3">
  <h1>{{ categoryId === -1 ? 'Kategorie Erstellen' : (category?.name + ' abändern' || '') }}</h1>

    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" [placeholder]="category?.name ?? ''"><br><br>
      </div>

      <button type="submit" class="btn btn-primary">{{ categoryId === -1 ? 'Erstellen' : 'Aktualisieren' }}</button>
      <button type="button" (click)="deleteCategory()" *ngIf="categoryId !== -1" class="btn btn-secondary">Löschen</button>
    </form>
</div>
